#editor{

    width:  30%;
    height: 600px;
    border: 1px solid #ccc;
    float:  left;
    margin: 2%
}

#container{
    width:  60%;
    height: 600px;
    float:  right;
    margin: 2%;
    border: 1px solid #ccc;
}

.floating{
    display: inline-block;
}